@charset "ISO-8859-1";


img {
    width: 40px;
}

.flt {
    font-size: 23px;
    font-family: sans-serif;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    background-color: rgb(255, 255, 255);
    padding: 0.8rem;

}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
    opacity: 0.5;
    transition: transform, opacity 0.5s;
}

[type=radio] + img:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

[type=radio] + img:active {
    transform: scale(1.1);
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    opacity: 1;
    transform: scale(1.2);
}

.feedbackRadioContainer {
    display: flex;
    background: #d9d9d9;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 5px 2px 11px #bfbfbf;
}

@media only screen and (max-width: 800px) {
    img {
        width: 15px;
    }

    .flt {
        font-size: 13px;
    }
}