.custom-loading {
    height: 20px;
    display: none;
    animation: spin 1.2s infinite 0s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}