html {
    height: 100%;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}

body {
    min-height: 100%;
    background: #396afc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #396afc, #007bff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #396afc, #007bff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}