.responsiveSkipContainerSmall {
    display: none;
}

@media only screen and (max-width: 800px) {
    .responsiveSkipContainerBig {
        display: none;
    }

    .responsiveSkipContainerSmall {
        display: flex;
    }
}